
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
  position: relative;
  color: #e66b6b;
  font-size: 1.2em;
  text-transform: uppercase;
  /*padding: 20px 0 0 0;*/
  text-align: center;
  /*background: #ffffff;*/
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .month {
	padding: 12px 0 0 0;
	text-align: center;
	color:#B5CB2B;
	font-size: 28px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right: 150px;
  top: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  text-indent: -4000px;
  background: url(../images/next2.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
  position: absolute;
  left: 150px;
  top:10px;
  width: 40px;
  height: 40px;
  margin: 0;
  text-indent: -4000px;
  background: url(../images/prev.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:100%;
  height: 300px;
  margin:0 auto;
  background: #161616;
}
.cal1 .clndr .clndr-table thead{
  background: #353535;
}
.cal1 .clndr .clndr-table .header-days {
  font-size: 0.85em;
  /*font-weight: 600;*/
}
.cal1 .clndr .clndr-table .header-days .header-day {
   vertical-align: middle;
   text-align: center;
	color:#B5CB2B;
	font-size:18px;
}
.cal1 .clndr .clndr-table tr {
    height:60px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#B5CB2B;
  vertical-align:middle;
}

.cal1 .clndr .clndr-table tr .day.today .day-contents{
    color: #fff!important;
    text-decoration: none;
    border: 1px solid #009F9B;
    background: #009F9B;
 }
 .cal1 .clndr .clndr-table tr .day.g_was .day-contents{
    color: #fff!important; 
    text-decoration: none;
    border: 1px solid #960001;
    background: #960001;
 }
  
.cal1 .clndr .clndr-table tr .day.today:hover {
  	color:#000;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background: #3e3e3e;
	 color: #FFF;
	 padding:0;
}
.day.today.event:hover{
	color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	/*padding: 10px;*/
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px auto;
  padding: 7px 0;
}
.cal1:hover .clndr:hover .clndr-table tr:hover .day:hover .day-contents:hover {
	
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color:#292D18;
}

@media all and (max-width:1024px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 24px;
}
.cal1 .clndr .clndr-controls .month {
  /*font-size: 22px;*/
  padding: 3px 0 0 0;
  }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right:24px;
}
.cal1 .clndr .clndr-controls {
  padding: 1.5em 0 0 0;
  min-height: 85px;
}
.cal1 .clndr .clndr-controls {
  /*min-height: 70px;*/
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 24px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 24px;
}
}
@media all and (max-width:768px) {
	.cal1 .clndr .clndr-controls {
	  /*min-height: 92px;*/
	}
}
@media all and (max-width:640px) {
.cal1 .clndr .clndr-controls {
  padding: 14px 0 0 0;
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 14px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 14px;
}
}
@media all and (max-width:480px) {
	.cal1 .clndr .clndr-controls .month {
		/*font-size: 1.2em;*/
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
		/*top: 9px;*/
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
		/*top: 9px;*/
	}
	.cal1 .clndr .clndr-controls {
		/*min-height: 60px;*/
	}
	.cal1 .clndr .clndr-table .header-days .header-day {
		font-size: 1.4em;
	}
	.cal1 .clndr .clndr-table tr .day .day-contents {
		font-size: 0.875em;
	}
}
@media screen and (max-width: 320px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 7px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right: 7px;
}
	.cal1 .clndr .clndr-table{
		width:100%;
	}
	.cal1 .clndr .clndr-table tr {
		height: 35px;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-table .header-days .header-day {
		font-size: 1.2em;
	}
	.cal1 .clndr .clndr-controls .month {
	  padding: 9px 0 0 0;
	}	
	.cal1 .clndr .clndr-controls .month {
	  font-size: 18px;
	  }
	.cal1 .clndr .clndr-table tr .day .day-contents {
		font-size: 0.875em;
	}
	.cal1 .clndr .clndr-controls {
		/*min-height: 50px;*/
		padding: 0.6em 0 0 0;
	}
	.cal1 .clndr .clndr-table {
	  height: 230px;
	  }
}