
html, body{
	padding:0px;
	margin:0px;
	font-family: 'Josefin Sans', sans-serif;
}

a{
	text-decoration: none;
	outline: 0;
}
a:hover{
	text-decoration: none;
	outline: 0;
}

/* temprory header */
.temp_main{
	padding: 0;
}
.temp_header{
	padding: 0 20px;
	background: #000;
}
.temp_header ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.temp_header ul li{
	display: inline-block;
	padding: 10px 5px;
}
.temp_header ul li a{
	color: #a0e01f;
}

/* temprory header */


/*header section*/
.header{
	width: 100%;
	float: left;
	padding: 0px;
}
.header-cont{
	width: 92.5%;
}
.main-head{
	background: #000;
	padding: 25px 0 0 0;
}
.navbar-default{
	background: none;
	border: 0px;
}
.navbar{
	min-height: unset;
	margin: 0;
}
.navbar-header{
	width: 100px;
}
.navbar-brand{
	padding: 0;
	height: unset;
	width: 100px;
	text-align: center;
}
.navbar-brand > img {
    display: block;
	height: auto;
	max-height: 80px;
	width: auto;
	max-width: 100%;
	margin: 0px auto;
	position: relative;
	z-index: 1000;
	top: -15px;
}
.navbar-nav {
    float: right;
    margin: 13px 0;
}
.navbar-default .navbar-nav > li > a {
    padding: .75em 1em;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    color: #a0e01f;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
	background: none;
	color: #37bebb;
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover{
	color: #37bebb;
}
.download-btn{
	border-radius: 50px;
	border: 2px solid #a0e01f;
	background: transparent none repeat scroll 0% 0%;
	color: #a0e01f;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	padding: 0.5em 1.5em;
	-webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	transition: background-color 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
}

.download-btn.focus, 
.download-btn:focus, 
.download-btn:hover{
	color: #000;
	background: #a0e01f;
}
.navbar-collapse{
	display: block;
}
.toggle-nav{
	display: none;
}

/*content section*/

.content{
	width: 100%;
	float: left;
	padding: 0;
}
.main-content{
	margin: 110px 0;
	padding: 0;
}
.home_form{
	width: 360px;	
}
.home-screen{
	padding: 50px 0 50px 0;
	margin: 50px auto;
	background: #000;
	height: 600px;	
}
.logo{
	text-align: center;
	padding: 0;
}
.logo .logo_image{
	max-width: 60px;
	display: block;
	margin: 0px auto;
}
.logo .title_image{
	max-width: 90px;
	display: block;
	margin: 10px auto;
	margin-bottom: 0;
}
.main-que{
	padding: 25px 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
}
.src_me{

}
.search-btn{
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
	background: none;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	border: 1px solid #a0e01f;
	border-radius: 5px;
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.search-btn:hover,.search-btn:focus,.search-btn:active{
	background: #a0e01f;
	color: #000;
}


/* search page */
.main_search{	
	padding: 0;
	background: #000;
}
.head_main{
	padding: 0;
}
.search_head{
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 20px 0 12px 0;
	border-bottom: 2px solid #5F6C1F;
}
.searching{
	padding: 0;
	text-align: center;
	margin-top: 35px;
}
.searching input[type="search"]{
	background: none;
	border: 0px;
	border-bottom: 2px solid #262626;
	text-align: center;
	color: #fff;
	width: 40%;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 5px 0px;
}
.searching input[type="submit"]{
	background: url(../images/search.png);
	border: 0px;
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	position: absolute;
	margin-left: 20px;
}
.search_or{
	color: #fff;
	font-size: 18px;
	padding: 25px 0;
}
.search_item{
	padding: 0 0 60px 0px;
}
.select_item{
	text-align: center;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 35px;
}
.search_item a{
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
	background: none;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.outer-box{
	padding: 0 10px;
}
.search_item .food,.search_item .plastic,.search_item .car,.search_item .furn,.search_item .const{
	border: 1px solid #50C2DA;
	color: #50C2DA;
}
.search_item .food:hover,.search_item .food:focus,.search_item .food:active,
.search_item .plastic:hover,.search_item .plastic:focus,.search_item .plastic:active,
.search_item .car:hover,.search_item .car:focus,.search_item .car:active,
.search_item .furn:hover,.search_item .furn:focus,.search_item .furn:active,
.search_item .const:hover,.search_item .const:focus,.search_item .const:active{
	background: #50C2DA;
	color: #000;
}
.search_item .gwaste,.search_item .alus,.search_item .whiteg,.search_item .cloth{
	border: 1px solid #BED83F;
	color: #BED83F;
}
.search_item .gwaste:hover,.search_item .gwaste:focus,.search_item .gwaste:active,
.search_item .alus:hover,.search_item .alus:focus,.search_item .alus:active,
.search_item .whiteg:hover,.search_item .whiteg:focus,.search_item .whiteg:active,
.search_item .cloth:hover,.search_item .cloth:focus,.search_item .cloth:active{
	background: #BED83F;
	color: #000;
}
.search_item .paper,.search_item .glass,.search_item .elec,.search_item .house{
	border: 1px solid #F8B03F;
	color: #F8B03F;
}
.search_item .paper:hover,.search_item .paper:focus,.search_item .paper:active,
.search_item .glass:hover,.search_item .glass:focus,.search_item .glass:active,
.search_item .elec:hover,.search_item .elec:focus,.search_item .elec:active,
.search_item .house:hover,.search_item .house:focus,.search_item .house:active{
	background: #F8B03F;
	color: #000;
}

/* food waste page */
.food_waste{

}
.prev{
	position: absolute;
	left: 15px;
	top: 20px;
	z-index: 1;
}
.prev img{
	width: 40px;
}
.food_main{
	padding: 20px 0;
}
.food_item{
	padding: 0 50px 0 35px;
	border-right: 2px solid #5F6C1F;
	height: 575px;
	max-height: 100%;
}
.food_item ul{
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	border-top: 2px solid #262626;
}
.food_item ul li{
	border-bottom: 2px solid #262626;
	padding: 15px 0px;
}
.food_item ul li a{
	color: #fff;
	font-size: 14px;
}
.food_item ul li a .next{
	position: absolute;
	right: 10px;
	margin-top: -5px;
}
.food_item ul li a .next img{
	width: 28px;
}
.food_desc{
	padding: 0;
}
.coffee{
	text-align: center;
	background: #BED83F;
	padding: 10px 0;
}
.coffee img{
	width: 45px;
}
.coffee_gr{
	text-align: center;
	color: #000;
	padding: 7px 0 0 0;
	font-size: 18px;
	letter-spacing: 1px;
}
.coffee_desc{
	text-align: center;
	padding: 35px 10px;
	color: #fff;
	letter-spacing: 0.5px;
	font-size: 14px;
}
.food_pevt{
	padding: 20px 0;
}

/* food search */
.f_sear{
	color: #262626;
}
.f_or{
	color: #262626;
}
.f_searching input[type="search"]
{
	color: #BED83F;
}
.fr_item{
	border: 0px;
}
.fr_item ul li a{
	padding: 0;
	margin: 0;
	text-align: left;
}
.fr_coffee{
	margin-top: 30px;
}
.fr_search{
	height: 700px;
}

/* council me page */
.coun_item{
	height: unset;
	border: 0px;
	text-align: left;
	padding: 0 50px 0 20px;
}
.coun_1{
	padding: 0 0 10px;
}
.coun_2{
	padding: 10px 0 0;
	color: #606060;
	font-size: 12px;
}
.coun_item ul li{
	padding: 5px 0;
}
.coun_item ul li a .next{
	margin-top: -45px;
}
.moreland img{
	width: 200px;
}
.sear_council{
	padding: 0 5px;
}
.couc_head{
	padding: 30px 0;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}
.sear_council input[type="search"]{
	background: none;
	border: 0px;
	border-bottom: 2px solid #262626;
	text-align: center;
	color: #fff;
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 5px 0px;
}
.coun_btn{
	padding: 20px 0;
}
.coun_btn .search-btn{
	font-size: 12px;
}
.set_coun{
	position: absolute;
	bottom: 0;
}
.map_coucil{
	border: 0;
}
.map_main{
	padding: 0;
}
iframe{
	border: 0px none;
	width: 100%;
	height: 625px;
	margin: 0px;
	padding: 0px;
}

.cale{
	padding: 40px;
	border-right:2px solid #5F6C1F;
}
.cale img{
	width: 100%;
}
.cale_head{
	color: #a0e01f;
	text-transform: uppercase;
}
.recycling{
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #009F9B;
  font-size: 20px;
  letter-spacing: 1px;
}
.g_waste{
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #960001;
  font-size: 20px;
  letter-spacing: 1px;
}
.reminder{

}
.reminder p{
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.remind_me img{
	width: 100%;
}
.remi_coun{
	position: relative;
}
.rem_council{
	height: unset;
}
.month_day{
	padding: 0 5px;
}

/* welcome screen */
.welcome_screen{
	padding: 50px;
}
.form-group{
	margin-bottom: 30px;
}
.wel_input{
	border: 0px;
	border-bottom: 2px solid #232323;
	background: transparent;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	width: 100%;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.wel_login{
	padding: 0;
}
.forgate_pass{
	padding: 0;
	text-align: center;
}
.forgate_pass a{
	color: #fff;
	font-size: 13px;
	text-decoration: underline;

}

/* select screen */
.item_search{
	height: 700px;
}
.item_head{
	color: #000;
	background: #BED83F;
	border: 0px;
}
.api_key{
	color: #fff;
	background: none;
	border: 0px;
	border-bottom: 2px solid #262626;
	text-align: center;
	width: 50%;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 5px 0px;
}
.create_item{
	color: #BED83F;
	font-size: 18px;
	font-weight: 600;
}
.item_label{
	font-size: 18px;
	color: #fff;
	text-align: left;
	float: left;
	width: 115px;
	padding: 7px 5px;
}
.item_field{
	width: calc(100% - 115px);
	float: left;
}
.item_select{
	margin: 0 0 40px;
	padding: 0 50px;
}
.cd-select{
	width: 100%;
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #464646;
	padding: 0px 25px 0px 5px;
	font-size: 16px;
	color: #464646;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}
.item_field .fa{
	position: absolute;
	right: 50px;
	font-size: 40px;
	color: #fff;
}
.cd-select option{
	color: #fff;
	padding: 10px 5px;
	background: #aaa;
	border: 0px;
	border-bottom: 1px solid #ccc;
}
.item_name{
	color: #464646;
	font-size: 16px;
	text-align: left;
	padding: 0 10px;
	width: 100%;
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #464646;
}
.switch_label{
	font-size: 18px;
	color: #fff;
	text-align: left;
	float: left;
	width: 205px;
	padding: 7px 5px;
}
.onoffswitch {
    position: relative; 
    width:90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    float: left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #BED83F; 
    border-radius: 20px;
    margin: 0;
	padding: 4px 0;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 35px;
    font-size: 17px; 
    color: white; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    color: #BED83F;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    color: #BED83F;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 25px;
    height: 25px; 
    margin: 2px 8px;
    background: #BED83F;
    position: absolute;
    right: 50px;
    border: 2px solid #BED83F; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.item_sub{
	padding: 0;
	margin: 50px 0;
}
.searching .item_sub .search-btn{
	width: 30%;
	display: inline-block;
	margin-bottom: 15px;
	background: none;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	border: 1px solid #a0e01f;
	border-radius: 5px;
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: 0.5s ease-in-out;
	position: relative;
	margin-left: 0;
	height: auto;
}
.item_api{
	margin: 20px 0;
}
.council_label{
	width: 135px;
}
.council_field{
	width: calc(100% - 135px);
}
.business{
	width: 50%;
	margin: 0px auto;
}
.business .api_key{
	width: 100%;
}
.business .item_sub .search-btn{
	width: 80%;
}

/*media query*/

@media screen and (max-width: 1680px) {
	
}    
@media screen and (max-width: 1440px) {
	.mbl_search1{
		width: 100%;
	}
	.item_field .fa{
		right: 30px;
	}
	.item_select{
		padding: 0 30px;
	}
}
@media screen and (max-width: 1271px) { 
	.toggle-nav{
		display: block;
		position: absolute;
		right: 15px;
		top: 5px;
	}
	.toggle-nav img{
		width: 40px;
	}
	.navbar-collapse{
		display: none;
	}	
	.navbar-nav {
	    position: absolute;
	    right: 0;
	    top: 67px;
	    background: #000;
	    padding: 10px;
	    z-index: 1;
	}
	.navbar-nav > li{
		float: none;
	}
	.item_field .fa{
		right: 15px;
	}
	.item_select{
		padding: 0 15px;
	}
	.api_key{
		width: 60%;
	}
	.business{
		width: 60%;
	}
}

@media screen and (max-width: 1024px) {
	.item_field .fa{
		right: 10px;
	}
	.item_select{
		padding: 0 10px;
	}
}

@media screen and (max-width: 991px) {
	.item_field .fa{
		right: 10px;
	}
	.item_select{
		padding: 0 10px 0 0px;
	}
	.council_select{
		padding: 0 15px;
	}
	.api_key{
		width: 90%;
	}
	.searching .item_sub .search-btn{
		width: 60%;
	}
	.item_search{
		height: auto;
	}
}

@media screen and (max-width: 860px) {
    
}

@media screen and (max-width: 768px) {
	.mbl_search{
		/*margin-left:4.38%;*/
		padding: 0;
		width: 100%;
	}
	.search_head{
		font-size: 26px;
	}
	.searching input[type="search"]{
		width: 60%;
		font-size: 16px;
	}
	.searching input[type="submit"]{
		margin-left: 5px;
	}
	.home-screen{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.search_screen{
		margin-left: 8.55%;
	}
	.food_item{
		height: unset;
		margin-bottom: 20px;
		border: 0px;
		padding: 0 50px 0 10px;
	}
	.food_pevt{
		padding: 20px;
	}
	.set_coun{
		position: relative;
	}
	.sear_council{
		padding: 0 5px;
	}
	.mbl_search1{
		width: 50%;
	}
	.business{
		width: 90%;
	}
	.business .api_key{
		width: 90%;
	}
	.business .item_sub .search-btn{
		width: 60%;
	}
}

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 460px) {
	.home_form{
		width: 100%;
	}
	.mbl_search1{
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
    .onoffswitch{
		margin-left: 40%;
	}
}

@media screen and (max-width: 360px) {
	.onoffswitch{
		margin-left: 30%;
	}
}  